@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    font: 100% Arial, Helvetica, sans-serif;
    background-color: dodgerblue;

}

.sec-age {
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    text-align: center;
}

header.sec-age > h1 {
    font-size: 2em;
}

.wbox {
    background-color: #fff;
    max-width: 400px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 7px 0px #0000007d;
}

input#birth {
    width: 75px;
}

             /* removendo setinhas */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;  
}

div#g {
    margin: 1em 0;
}

input[type="button"] {
    padding: 5px;
    letter-spacing: .1em;
    font-family: monospace;
}

div.resultado > p {
    margin-bottom: 0;
}

small {
    font-style: italic;
}